__pycache__/
*.pyc
.venv/
# Игнорируем исполняемый файл Scalingo
scalingo.exe

# Игнорируем виртуальное окружение
.venv/

# Игнорируем временные файлы
__pycache__/
*.pyc
*.pyo
*.log

# Игнорируем IDE-шные файлы
.vscode/
.idea/

